/**
 * To customize your own style of scrollBar
 * */

.scrollBarWrapper{width: 100%; height: 100%;}

.scrollBar{position:absolute;opacity:0.5;}
.scrollBar:hover{opacity:1}
.v.scrollBar{top: 0; right: 0;}
.h.scrollBar{bottom: 0; left: 0;}

.scrollButtonWrapper{position: relative; background: #666; opacity: 0.8; border-radius: 5px;}
.scrollButtonWrapper:hover{opacity: 1;}
.v.scrollButtonWrapper{width: 10px;}
.h.scrollButtonWrapper{height: 10px;}

.scrollButton{background:#222;position:absolute;border-radius: 5px;}
.v.scrollButton{width:100%;}
.h.scrollButton{height:100%;}

.scrollBar_arrow{position: absolute;width:10px;height:10px;background:red;}
.prev.scrollBar_arrow{top: 0; left: 0;}
.next.scrollBar_arrow{bottom: 0; right: 0;}

.user_select_none{-moz-user-select:none;-webkit-user-select: none;}

